@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>orderStatus: @ViewBag.ORDERSTATUS</h2>
<h2>orderTotalAmount: @ViewBag.ORDERTOTLAAMOUNT</h2>
<h2>orderId: @ViewBag.ORDERID</h2>
<h2>email: @ViewBag.EMAIL</h2>